.advantages {

    padding: 70px 0 65px 0;
    background: #F6F6F6;
    color: #000;

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        padding-top: 60px;
        text-align: center;
        width: 269px;

        &-icon {
            margin-bottom: 30px;
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 50%;
            background-repeat: no-repeat;
            transition: background-size .3s;
            background-size: 0% 2px;
            
            &:hover{
                background-size: 100% 2px;

            }
        }

        &-text {
            font-weight: 300;
            font-size: 14px;
            a{
                color: #FF0000;
            }
    }
    }
}