.title{
    text-align: center;
    @include adaptiv-font (30, 18);
    text-transform: uppercase;
    color: #000;

    &_consultation {
        text-align: left;
        @include adaptiv-font (36, 18);
        font-weight: 700;
        margin-bottom: 8px;
        color: #fff;
    }

}